<!DOCTYPE html>
<html>

<head>
    <title>Placar de Performance</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Indio</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="concessionaria.html">Cadastro de Concessionária</a></li>
                <li><a href="area.html">Cadastro de Áreas</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>